@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Yanone+Kaffeesatz&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "header" "main" "footer";
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: #ffe4c4f3;
  border-bottom: 1px solid gray;
  width: 100%;
}

header .containerHeaderLN {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .containerHeaderLN .containerHeaderLH1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}

header .containerHeaderLN .containerHeaderLH1 .containerCA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5rem;
  gap: 2rem;
}

header .containerHeaderLN .containerHeaderLH1 .containerCA img {
  width: 6rem;
}

header .containerHeaderLN .containerHeaderLH1 h1 {
  font-size: 5rem;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
}

header .containerHeaderLN .containerHeaderLH1 #logo {
  width: 18rem;
  height: 14rem;
}

header .containerHeaderLN .containerHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}

header .containerHeaderLN .containerHeader .barraNavegacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  list-style: none;
  font-size: 2.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .containerHeaderLN .containerHeader .barraNavegacion li {
  border-bottom: 2px solid black;
}

header .containerBarra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

header .containerBarra .barraBusqueda {
  width: 50%;
  height: 4rem;
  font-size: 2rem;
  margin-right: 1rem;
}

header .containerBarra .btn {
  height: 4rem;
  width: 9rem;
  margin-right: 10px;
  font-size: 2rem;
}

header a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  text-decoration: none;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  background-image: url(../img/ep_naturalwhite.png);
  font-family: 'Poppins', sans-serif;
}

.catalogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h2 {
  font-size: 3.3rem;
  font-weight: 500;
}

.catalogoInicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 2rem;
  margin-bottom: 1rem;
}

.catalogoInicio img {
  width: 52rem;
  height: 72rem;
  border-radius: 10px;
  -webkit-box-shadow: 7px 7px 2px #999999;
          box-shadow: 7px 7px 2px #999999;
}

.catalogoUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3.5rem;
  gap: 6rem;
  list-style: none;
  border-bottom: 1px solid gray;
}

.catalogoUl ul {
  list-style: none;
}

.catalogoTitulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0 1.5rem 0;
  gap: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.catalogoInicioLibros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid gray;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.catalogoLibros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5rem 0;
  width: 120rem;
  height: 70rem;
  background-color: rgba(255, 255, 255, 0.699);
  border: 3px solid #4b4b4b;
}

.catalogoDescripcionLibros {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  border-radius: 10px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 7px 7px 2px #999999;
          box-shadow: 7px 7px 2px #999999;
  text-align: center;
  font-size: 3.5rem;
}

.recomendaciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  font-size: 2.5rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid gray;
}

.recomendacionesDescripcion {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  border-radius: 10px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 7px 7px 2px #999999;
          box-shadow: 7px 7px 2px #999999;
  text-align: center;
}

.recomendacionesResumen {
  font-size: 2rem;
  margin-top: 1rem;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 7px 7px 2px #999999;
          box-shadow: 7px 7px 2px #999999;
}

.oferta {
  font-weight: bold;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background-color: #ffe4c4;
  padding: 1rem 0;
  border: 1px solid gray;
  gap: 1rem 0;
}

.pie .pieImg a {
  margin: 0 5px;
}

.pieRedesImg:hover {
  -webkit-animation: redesImg 0.4s 1;
          animation: redesImg 0.4s 1;
}

.pie img {
  width: 5rem;
}

.pieRedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pieDescripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30rem;
  height: 100%;
  font-size: 1.5rem;
}

.pieUbicacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  margin: 2.5rem 0;
}

.pieSubtitulo h3 {
  font-size: 5rem;
}

.pieUbicacion img {
  width: 3rem;
}

@-webkit-keyframes redesImg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.4) translateY(10px);
            transform: scale(1.4) translateY(10px);
  }
  /* No sé cómo hacer que no se reinicie la animación, quiero mantener la transformación mientras mantenga el cursor arriba*/
}

@keyframes redesImg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.4) translateY(10px);
            transform: scale(1.4) translateY(10px);
  }
  /* No sé cómo hacer que no se reinicie la animación, quiero mantener la transformación mientras mantenga el cursor arriba*/
}

.barraNavegacion li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: #6161611e;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.containerCA img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (min-width: 768px) {
  header .containerBusqueda {
    width: 50%;
  }
  header .catalogoInicio img {
    width: 42rem;
    height: 62rem;
  }
}

@media (min-width: 768px) {
  main .catalogoInicio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .catalogoInicio img {
    width: 36rem;
    height: 56rem;
  }
  main .catalogoDescripcionLibros {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  .pie {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .pie .pieSubtitulo h3 {
    font-size: 3rem;
  }
  .pie .pieImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .pie .pieImg img {
    width: 3rem;
  }
  .pie .pieUbicacion {
    text-align: center;
  }
  .pie .pieUbicacion a {
    font-size: 1.5rem;
  }
  .pie .pieUbicacion img {
    width: 1.8rem;
  }
}
/*# sourceMappingURL=style.css.map */