@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Yanone+Kaffeesatz&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

/* HEADER 320PX */

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: header;
    background-color: #ffe4c4f3;
    border-bottom: 1px solid gray;
    width: 100%;
    
}

.containerHeader{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
}
.containerHeaderLN{
    
}

.containerHeaderLH1{
    display: flex;
    align-items: center;
    font-size:2rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;

}

.containerBarra{
    display: flex;
    justify-content: center;
    width: 100%;
}

.barraNavegacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    font-size: 2rem;
    flex-wrap: wrap;
}
.barraNavegacion li{
    border-bottom: 2px solid black;
}

#barraBusqueda{
    height: 4rem;
    width: 95%;
}

header a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    text-decoration: none;

}

#logo{
    width: 18rem;
    height: 14rem;
    
}

/* HEADER 768PX */

@media (min-width: 768px){
    header{
        grid-area: header;
        background-color: #ffe4c4f3;
        border-bottom: 1px solid gray;
        width: 100vw;
        
    }

    .containerHeader{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }
    
    .containerHeaderLH1{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size:2rem;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    
    }
    
    .barraNavegacion{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
        font-size: 2rem;
        flex-wrap: wrap;
    }
    
    #barraBusqueda{
        height: 4rem;
        width: 50%;
    }
}

/* HEADER 1024PX */
@media (min-width: 1024px){
    header{
        display: flex;
        grid-area: header;
        background-color: #ffe4c4f3;
        border-bottom: 1px solid gray;
        width: 100vw;
        
    }

    .containerHeader{
        display: flex;
        justify-content: space-evenly;
        margin: 1rem;
        
    }
    
    .containerHeaderLH1{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-size:2rem;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        
    }
    
    .barraNavegacion{
        display: flex;
        flex-direction: row;
        gap: 5rem;
        list-style: none;
        font-size: 2.5rem;
        flex-wrap: wrap;
    }
    
    #barraBusqueda{
        height: 4rem;
        width: 50%;
    }
}
/* MAIN 320PX */

main{
    grid-area: main;
    background-image: url(../img/ep_naturalwhite.png);
    font-family: 'Poppins', sans-serif;
}


.catalogo{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    
}
.catalogoInicio{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0 2rem;
}

.catalogoInicio img{
    width: 34rem;
    height: 54rem;
    border-radius: 10px;
    box-shadow:  7px 7px 2px #999999;
    
}

.catalogoUl{
    display: flex;
    font-size: 2.3rem;
    gap: 6rem;
    list-style: none;
    border-bottom: 1px solid gray;
}

.catalogoUl ul{
    list-style: none;
}

.catalogoTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 1.5rem 0;
    gap: 1rem;
    width: max-content;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}
.catalogoInicioLibros{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
.catalogoLibros{
    display: flex;
    justify-content: center;
    margin: 5rem 0;
    width: 120rem;
    height: 70rem;
    background-color: rgba(255, 255, 255, 0.699);
    border: 3px solid rgb(75, 75, 75);
}

.catalogoDescripcionLibros{
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    border-radius: 10px;
    min-width: max-content;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow:  7px 7px 2px #999999;
    text-align: center;
    font-size: 2.5rem;;            
}

.recomendaciones{
    display: flex;
    flex-direction: column;
    width: min-content;
    font-size: 2.5rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid gray;
    
}

.recomendacionesDescripcion{
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    border-radius: 10px;
    min-width: max-content;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow:  7px 7px 2px #999999;
    text-align: center;
}
.recomendacionesResumen{
    font-size: 2rem;
    margin-top: 1rem;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow:  7px 7px 2px #999999;
}

.oferta{
    font-weight: bold;
}

/* MAIN 768PX */
@media (min-width: 768px){
    main{
        grid-area: main;
        background-image: url(../img/ep_naturalwhite.png);
        font-family: 'Poppins', sans-serif;
    }
    
    
    .catalogo{
        display: flex;
        justify-content: center;
        font-size: 1.3rem;
        
    }
    .catalogoInicio{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 0 2rem;
    }
    
    .catalogoInicio img{
        width: 34rem;
        height: 54rem;
        border-radius: 10px;
        box-shadow:  7px 7px 2px #999999;
        
    }
    
    .catalogoUl{
        display: flex;
        font-size: 2.5rem;
        gap: 6rem;
        list-style: none;
        border-bottom: 1px solid gray;
    }
    
    .catalogoUl ul{
        list-style: none;
    }
    
    .catalogoTitulo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3rem 0 1.5rem 0;
        gap: 1rem;
        width: max-content;
        border-top: 5px solid black;
        border-bottom: 5px solid black;
    }
    .catalogoInicioLibros{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid gray;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
    }
    .catalogoLibros{
        display: flex;
        justify-content: center;
        margin: 5rem 0;
        width: 120rem;
        height: 70rem;
        background-color: rgba(255, 255, 255, 0.699);
        border: 3px solid rgb(75, 75, 75);
    }
    
    .catalogoDescripcionLibros{
        border-top: 2px solid gray;
        border-bottom: 2px solid gray;
        border-radius: 10px;
        min-width: max-content;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow:  7px 7px 2px #999999;
        text-align: center;
        font-size: 2.5rem;;            
    }
    
    .recomendaciones{
        display: flex;
        flex-direction: column;
        width: min-content;
        font-size: 2.5rem;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid gray;
        
    }
    
    .recomendacionesDescripcion{
        border-top: 2px solid gray;
        border-bottom: 2px solid gray;
        border-radius: 10px;
        min-width: max-content;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow:  7px 7px 2px #999999;
        text-align: center;
    }
    .recomendacionesResumen{
        font-size: 2rem;
        margin-top: 1rem;
        border: 2px solid gray;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow:  7px 7px 2px #999999;
    }
    
    .oferta{
        font-weight: bold;
    }
}

/* FOOTER 320PX*/

footer{
    grid-area: footer;
}

.pie{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background-color: #ffe4c4;
    padding: 1rem 0;
    border: 1px solid gray;
    gap: 1rem 0;
}

.pie img{
    width: 36px;
    
}

.pieRedes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pieDescripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: 100%;
    
}
.pieUbicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pieUbicacionImg{
    display: flex;
}

.pieSubtitulo{
    font-size: 2rem;
}

#ubicacion{
    width: 18px;
}

/* FOOTER 768PX */

@media (min-width: 768px){
    footer{
        grid-area: footer;
    }
    
    .pie{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        background-color: #ffe4c4;
        padding: 1rem 0;
        border: 1px solid gray;
        gap: 1rem 0;
    }
    
    .pie img{
        width: 36px;
        
    }
    
    .pieRedes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .pieDescripcion{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30rem;
        height: 100%;
        
    }
    .pieUbicacion{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #pieUbicacionImg{
        display: flex;
    }
    
    .pieSubtitulo{
        font-size: 2rem;
    }
    
    #ubicacion{
        width: 18px;
    }
}