@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Yanone+Kaffeesatz&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 1fr 2%;
    grid-template-areas:
    "header"
    "main"
    "footer";
    
}

header{
    grid-area: header;
    background-color: #ffe4c4f3;
    border-bottom: 1px solid gray;
    width: 100vw;
}

.containerHeader{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
}

.containerHeaderLH1{
    display: flex;
    align-items: center;
    font-size:2rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;

}

.barraNavegacion{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 2rem;
    flex-wrap: wrap;
}

#barraBusqueda{
    height: 4rem;
    width: 95%;
}

a{
    text-decoration: none;

}

#logo{
    width: 18rem;
    height: 14rem;
    
}

main{
    grid-area: main;
    border: 3px solid black;
}

footer{
    grid-area: footer;
    
}
