@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Yanone+Kaffeesatz&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "header" "main" "footer";
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: #ffe4c4f3;
  border-bottom: 1px solid gray;
  width: 100%;
}

header .containerHeaderLN {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .containerHeaderLN .containerHeaderLH1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem;
}

header .containerHeaderLN .containerHeaderLH1 .containerCA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5rem;
  gap: 2rem;
}

header .containerHeaderLN .containerHeaderLH1 .containerCA img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

header .containerHeaderLN .containerHeaderLH1 .containerCA img {
  width: 6rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .containerHeaderLN .containerHeaderLH1 h1 {
  font-size: 5rem;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
}

header .containerHeaderLN .containerHeaderLH1 #logo {
  width: 18rem;
  height: 14rem;
}

header .containerHeaderLN .containerHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}

header .containerHeaderLN .containerHeader .barraNavegacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  list-style: none;
  font-size: 2.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .containerHeaderLN .containerHeader .barraNavegacion li {
  border-bottom: 2px solid black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .containerHeaderLN .containerHeader .barraNavegacion li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: #6161611e;
}

header .containerBarra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

header .containerBarra .barraBusqueda {
  width: 50%;
  height: 4rem;
  font-size: 2rem;
  margin-right: 1rem;
}

header .containerBarra .btn {
  height: 4rem;
  width: 9rem;
  margin-right: 10px;
  font-size: 2rem;
}

header a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  text-decoration: none;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  background-image: url(../img/ep_naturalwhite.png);
  font-family: 'Poppins', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .catalogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .catalogo .catalogoTitulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0 1.5rem 0;
  gap: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

main .catalogo .catalogoTitulo h2 {
  font-size: 3.3rem;
  font-weight: 500;
}

main .catalogo .catalogoUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3.5rem;
  gap: 6rem;
  list-style: none;
  border-bottom: 1px solid gray;
}

main .catalogo .catalogoUl ul {
  list-style: none;
}

main .catalogoInicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 2rem;
  margin-bottom: 1rem;
}

main .catalogoInicio .catalogoInicioLibros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid gray;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

main .catalogoInicio .catalogoInicioLibros .catalogoDescripcionLibros {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  border-radius: 10px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 7px 7px 2px #999999;
          box-shadow: 7px 7px 2px #999999;
  text-align: center;
  font-size: 3rem;
}

main .catalogoInicio .recomendaciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  font-size: 2.5rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid gray;
}

main .catalogoInicio .recomendaciones .recomendacionesDescripcion {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  border-radius: 10px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 7px 7px 2px #999999;
          box-shadow: 7px 7px 2px #999999;
  text-align: center;
}

main .catalogoInicio .recomendaciones .recomendacionesResumen {
  font-size: 2rem;
  margin-top: 1rem;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 7px 7px 2px #999999;
          box-shadow: 7px 7px 2px #999999;
}

main .catalogoInicio img {
  width: 52rem;
  height: 72rem;
  border-radius: 10px;
  -webkit-box-shadow: 7px 7px 2px #999999;
          box-shadow: 7px 7px 2px #999999;
}

main .oferta {
  font-weight: bold;
}

main .relleno {
  padding: 25vh;
}

.comboGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  background-color: antiquewhite;
  width: 48rem;
}

.comboGrid .comboGridTexto {
  font-size: 3rem;
}

.comboGrid .comboOrdenar {
  font-size: 1.5rem;
  height: 60%;
}

.gridLibros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
  margin: 2rem auto;
  width: 75%;
      grid-template-areas: "l1" "l2" "l3" "l4" "l5" "l6" "l7" "l8" "l9";
}

.gridLibros .l1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: l1;
}

.gridLibros .l2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: l2;
}

.gridLibros .l3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: l3;
}

.gridLibros .l4 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: l4;
}

.gridLibros .l5 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: l5;
}

.gridLibros .l6 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: l6;
}

.gridLibros .l7 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: l7;
}

.gridLibros .l8 {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: l8;
}

.gridLibros .l9 {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: l9;
}

.gridLibros .l1, .gridLibros .l2, .gridLibros .l3, .gridLibros .l4, .gridLibros .l5, .gridLibros .l6, .gridLibros .l7, .gridLibros .l8, .gridLibros .l9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gridLibros .l1 figure, .gridLibros .l2 figure, .gridLibros .l3 figure, .gridLibros .l4 figure, .gridLibros .l5 figure, .gridLibros .l6 figure, .gridLibros .l7 figure, .gridLibros .l8 figure, .gridLibros .l9 figure {
  width: 100%;
}

.gridLibros .l1 .nombreLibroGrid, .gridLibros .l2 .nombreLibroGrid, .gridLibros .l3 .nombreLibroGrid, .gridLibros .l4 .nombreLibroGrid, .gridLibros .l5 .nombreLibroGrid, .gridLibros .l6 .nombreLibroGrid, .gridLibros .l7 .nombreLibroGrid, .gridLibros .l8 .nombreLibroGrid, .gridLibros .l9 .nombreLibroGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 5vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  width: 73.2vw;
  z-index: 100;
}

.gridLibros .l1 .precioLibroGrid, .gridLibros .l2 .precioLibroGrid, .gridLibros .l3 .precioLibroGrid, .gridLibros .l4 .precioLibroGrid, .gridLibros .l5 .precioLibroGrid, .gridLibros .l6 .precioLibroGrid, .gridLibros .l7 .precioLibroGrid, .gridLibros .l8 .precioLibroGrid, .gridLibros .l9 .precioLibroGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  opacity: 0;
  font-size: 5vw;
  width: 73.2vw;
  z-index: 100;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.gridLibros .l1 .gridLibrosImg, .gridLibros .l2 .gridLibrosImg, .gridLibros .l3 .gridLibrosImg, .gridLibros .l4 .gridLibrosImg, .gridLibros .l5 .gridLibrosImg, .gridLibros .l6 .gridLibrosImg, .gridLibros .l7 .gridLibrosImg, .gridLibros .l8 .gridLibrosImg, .gridLibros .l9 .gridLibrosImg {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.gridLibros .l1:hover .gridLibrosImg, .gridLibros .l2:hover .gridLibrosImg, .gridLibros .l3:hover .gridLibrosImg, .gridLibros .l4:hover .gridLibrosImg, .gridLibros .l5:hover .gridLibrosImg, .gridLibros .l6:hover .gridLibrosImg, .gridLibros .l7:hover .gridLibrosImg, .gridLibros .l8:hover .gridLibrosImg, .gridLibros .l9:hover .gridLibrosImg {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.gridLibros .l1:hover .nombreLibroGrid, .gridLibros .l2:hover .nombreLibroGrid, .gridLibros .l3:hover .nombreLibroGrid, .gridLibros .l4:hover .nombreLibroGrid, .gridLibros .l5:hover .nombreLibroGrid, .gridLibros .l6:hover .nombreLibroGrid, .gridLibros .l7:hover .nombreLibroGrid, .gridLibros .l8:hover .nombreLibroGrid, .gridLibros .l9:hover .nombreLibroGrid {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  opacity: 1;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 228, 196, 0.647496)), to(rgba(255, 228, 196, 0.874387)));
  background: linear-gradient(0deg, rgba(255, 228, 196, 0.647496) 0%, rgba(255, 228, 196, 0.874387) 100%);
}

.gridLibros .l1:hover .precioLibroGrid, .gridLibros .l2:hover .precioLibroGrid, .gridLibros .l3:hover .precioLibroGrid, .gridLibros .l4:hover .precioLibroGrid, .gridLibros .l5:hover .precioLibroGrid, .gridLibros .l6:hover .precioLibroGrid, .gridLibros .l7:hover .precioLibroGrid, .gridLibros .l8:hover .precioLibroGrid, .gridLibros .l9:hover .precioLibroGrid {
  -webkit-transform: translateY(-130%);
          transform: translateY(-130%);
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 228, 196, 0.647496)), to(rgba(255, 228, 196, 0.874387)));
  background: linear-gradient(180deg, rgba(255, 228, 196, 0.647496) 0%, rgba(255, 228, 196, 0.874387) 100%);
}

.paginaLibros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  background-color: antiquewhite;
  width: 48rem;
  padding-bottom: 5px;
}

.paginaLibros p {
  margin: 0;
}

.paginaLibros ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  gap: 2rem;
  margin: 0;
}

.paginaLibros ul li {
  border-bottom: 1px solid black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.paginaLibros ul li:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background-color: #ffe4c4f3;
  padding: 1rem 0;
  border: 1px solid gray;
  gap: 1rem 0;
}

.pie .pieRedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pie .pieImg a {
  margin: 0 5px;
}

.pie .pieRedesImg:hover {
  -webkit-animation: redesImg 0.4s 1;
          animation: redesImg 0.4s 1;
}

.pie img {
  width: 5rem;
}

.pie .pieDescripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30rem;
  height: 100%;
  font-size: 1.5rem;
}

.pie .pieUbicacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  margin: 2.5rem 0;
}

.pie .pieUbicacion img {
  width: 3rem;
}

.pie .pieSubtitulo h3 {
  font-size: 5rem;
}

@-webkit-keyframes redesImg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.4) translateY(10px);
            transform: scale(1.4) translateY(10px);
  }
  /* No sé cómo hacer que no se reinicie la animación, quiero mantener la transformación mientras mantenga el cursor arriba*/
}

@keyframes redesImg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.4) translateY(10px);
            transform: scale(1.4) translateY(10px);
  }
  /* No sé cómo hacer que no se reinicie la animación, quiero mantener la transformación mientras mantenga el cursor arriba*/
}

@media (min-width: 768px) {
  header .containerBusqueda {
    width: 50%;
  }
  header .catalogoInicio img {
    width: 42rem;
    height: 62rem;
  }
}

@media (min-width: 768px) {
  main .catalogoInicio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .catalogoInicio img {
    width: 36rem;
    height: 56rem;
  }
  main .catalogoDescripcionLibros {
    font-size: 2.5rem;
  }
  main .gridLibros {
    -ms-grid-columns: 25vw 25vw 25vw;
        grid-template-columns: 25vw 25vw 25vw;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    gap: 3rem;
    margin: 2rem auto;
    width: 80%;
        grid-template-areas: "l1 l2 l3" "l4 l5 l6" "l7 l8 l9";
  }
  main .gridLibros .l1:hover .precioLibroGrid, main .gridLibros .l2:hover .precioLibroGrid, main .gridLibros .l3:hover .precioLibroGrid, main .gridLibros .l4:hover .precioLibroGrid, main .gridLibros .l5:hover .precioLibroGrid, main .gridLibros .l6:hover .precioLibroGrid, main .gridLibros .l7:hover .precioLibroGrid, main .gridLibros .l8:hover .precioLibroGrid, main .gridLibros .l9:hover .precioLibroGrid {
    -webkit-transform: translateY(-145%);
            transform: translateY(-145%);
    opacity: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 228, 196, 0.647496)), to(rgba(255, 228, 196, 0.874387)));
    background: linear-gradient(180deg, rgba(255, 228, 196, 0.647496) 0%, rgba(255, 228, 196, 0.874387) 100%);
  }
  main .gridLibros .l1 .precioLibroGrid, main .gridLibros .l2 .precioLibroGrid, main .gridLibros .l3 .precioLibroGrid, main .gridLibros .l4 .precioLibroGrid, main .gridLibros .l5 .precioLibroGrid, main .gridLibros .l6 .precioLibroGrid, main .gridLibros .l7 .precioLibroGrid, main .gridLibros .l8 .precioLibroGrid, main .gridLibros .l9 .precioLibroGrid {
    width: 25vw;
    font-size: 2.5vw;
  }
  main .gridLibros .l1 .nombreLibroGrid, main .gridLibros .l2 .nombreLibroGrid, main .gridLibros .l3 .nombreLibroGrid, main .gridLibros .l4 .nombreLibroGrid, main .gridLibros .l5 .nombreLibroGrid, main .gridLibros .l6 .nombreLibroGrid, main .gridLibros .l7 .nombreLibroGrid, main .gridLibros .l8 .nombreLibroGrid, main .gridLibros .l9 .nombreLibroGrid {
    font-size: 2.5vw;
    width: 25vw;
  }
}

@media (min-width: 768px) {
  .pie {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .pie .pieSubtitulo h3 {
    font-size: 3rem;
  }
  .pie .pieImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .pie .pieImg img {
    width: 3rem;
  }
  .pie .pieUbicacion {
    text-align: center;
  }
  .pie .pieUbicacion a {
    font-size: 1.5rem;
  }
  .pie .pieUbicacion img {
    width: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .l1:hover .precioLibroGrid, .l2:hover .precioLibroGrid, .l3:hover .precioLibroGrid, .l4:hover .precioLibroGrid, .l5:hover .precioLibroGrid, .l6:hover .precioLibroGrid, .l7:hover .precioLibroGrid, .l8:hover .precioLibroGrid, .l9:hover .precioLibroGrid {
    -webkit-transform: translateY(-140%);
            transform: translateY(-140%);
    opacity: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 228, 196, 0.647496)), to(rgba(255, 228, 196, 0.874387)));
    background: linear-gradient(180deg, rgba(255, 228, 196, 0.647496) 0%, rgba(255, 228, 196, 0.874387) 100%);
  }
}
/*# sourceMappingURL=style.css.map */