%descripcion{
    
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow:  7px 7px 2px #999999;
    text-align: center;
    

}
%tamañoImg{
    width: 80vw;
    height: 60vh;
}

@media (min-width: 768px){
    %tamañoImg{
        width: 36rem;
        height: 56rem;
    }
    %descripcion{
    
        width: 36rem;
    }
}