footer{
    grid-area: footer;
    background-image: url(../img/crumpled-white-paperboard.png);
}

.pie{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background-color: $colorBase;
    padding: 1rem 0;
    border: $bordesSecciones;
    gap: 1rem 0;
    width: 100vw;

    .pieRedes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pieImg img{
        margin: 0 5px;
        transition: 0.3s;
        &:hover{
            transform: scale(1.4) translateY(10px);
        }
    }
    img{
        width: 10vw;
        
    }
    .pieDescripcion{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        max-width: 90%;
        
        
        p{
            text-align: center;
            font-size: 3vw;
        }
        
    }
    .pieUbicacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 5vw;
        margin: 2.5rem 0;
        img{
            width: 5vw;
        }
    }
    .pieSubtitulo h3{
        text-align: center;
        font-size: 7vw;
    }
}


















