footer{
    grid-area: footer;
}

.pie{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background-color: $colorBase;
    padding: 1rem 0;
    border: $bordesSecciones;
    gap: 1rem 0;
    width: 100vw;

    .pieRedes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pieImg a{
        margin: 0 5px;
        transition: 0.3s;
        &:hover{
            transform: scale(1.4) translateY(10px);
        }
    }
    img{
        width: 5rem;
        
    }
    .pieDescripcion{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30rem;
        height: 100%;
        font-size: 1.5rem;
        
    }
    .pieUbicacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
        margin: 2.5rem 0;
        img{
            width: 3rem;
        }
    }
    .pieSubtitulo h3{
        font-size: 5rem;
    }
}


















