*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    font-size: 62.5%;
    overflow-y: overlay;
    
}

body{  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

