header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: header;
    background-color: $colorBase;
    border-bottom: $bordesSecciones;
    width: 100vw;

    .containerHeaderLN{
        display: flex;
        flex-direction: column;

        .containerHeaderLH1{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-wrap: wrap;
            margin: 1rem;

            .containerCA{
                display: flex;
                margin-left: 5rem;
                gap: 2rem;

                img:hover{
                    transform: scale(1.5);
                    
                }
            }
            
            .containerCA img{
                width: 6rem;
                transition: 0.2s;
            }
            h1{
                font-size: 10vw;
                font-weight: 900;
                font-family: 'Poppins', sans-serif;
            }
            #logo{
                width: 18rem;
                height: 14rem;
                
            }
        }
        .containerHeader{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 1rem;

            .barraNavegacion{
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 2rem;
                list-style: none;
                font-size: map-get($tamañosFuente, "grande");
                flex-wrap: wrap;

                li{
                    border-bottom: 2px solid black;
                    transition: 0.3s;
                }
                li:hover {
                    transform: scale(1.2);
                    background-color: #6161611e;
                    a{
                        color:rgb(70, 70, 230)
                    }
                }
            }
        }
    }
    .containerBarra{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;

        .barraBusqueda{
            width: 50%;
            height: 4rem;
            font-size: map-get($tamañosFuente, "normal");
            margin-right: 1rem;
        }
        .btn{
            height: 4rem;
            width: 9rem;
            margin-right: 10px;
            font-size: map-get($tamañosFuente, "normal");
        }
    }
    a{
        text-decoration: none;
        color: black;
        font-weight: 800;
        text-decoration: none;
    
    }
    
}

