.comboGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: antiquewhite;
    width: 48rem;

    .comboGridTexto{
        font-size: 3rem;
    }
    .comboOrdenar{
        font-size: 1.5rem;
        height: 60%;
    }
}

.gridLibros{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 2rem;
    margin: 2rem auto;
    width: 75%;
    grid-template-areas: 
    "l1"
    "l2"
    "l3"
    "l4"
    "l5"
    "l6"
    "l7"
    "l8"
    "l9"; 
      
    .l1{
        grid-area: l1;
    }
    .l2{
        grid-area: l2;
    }
    .l3{
        grid-area: l3;
    }
    .l4{
        grid-area: l4;
    }
    .l5{
        grid-area: l5;
    }
    .l6{
        grid-area: l6;
    }
    .l7{
        grid-area: l7;  
    }
    .l8{
        grid-area: l8;
    }
    .l9{
        grid-area: l9;
    }

    .l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9{

        display: flex;
        flex-direction: column;
        align-items: center;
    
        figure{
            width: 100%;
        }
        .nombreLibroGrid{
    
            display: flex;
            position: absolute;
            justify-content: center;
            text-align: center;
            font-size: 5vw;
            transition: 0.3s;
            opacity: 0;
            width: 73.2vw;
            z-index: 100;
        } 
        .precioLibroGrid{

            display: flex;
            justify-content: center;
            text-align: center;
            opacity: 0;
            font-size: 5vw;
            width: 73.2vw;
            z-index: 100;
            transition: 0.3s;
        }
        .gridLibrosImg{
            width: 100%;
            height: 100%;
            border-radius: 5px;
            transition: 0.3s;
        }
        &:hover{
            .gridLibrosImg{
                transform: translateY(-1rem);
                   
            }
            .nombreLibroGrid{
        
                transform: translateY(-1rem);
                opacity: 1;
                background: linear-gradient(0deg, rgba(255,228,196,0.6474964985994398) 0%, rgba(255,228,196,0.8743872549019608) 100%);
    
            }
            .precioLibroGrid{
    
                transform: translateY(-130%);
                opacity: 1;
                background: linear-gradient(180deg, rgba(255,228,196,0.6474964985994398) 0%, rgba(255,228,196,0.8743872549019608) 100%);
            }
        }
    }
}

.paginaLibros{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: antiquewhite;
    width: 48rem;
    padding-bottom: 5px;
    
    p{
        margin: 0;
    }
    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 2rem;
        margin: 0;
        

        li{
            border-bottom: 1px solid black;
            transition: 0.3s;
            &:hover{

                transform: translateY(-0.5rem);
                
            }
        }
    }
}


