main{

    .containerContacto{
        background-color: antiquewhite;
        padding: 2rem;
        .contacto{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            border-top: 2px solid gray;
            border-bottom: 2px solid gray;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.5);
            box-shadow:  7px 7px 2px #999999;
            width: 80vw;
            max-width: 750px;
            @include fontSizeWeight (2rem, 200); 
            h3{
                @include fontSizeWeight (4rem, 500); 
            }
            textarea{
                resize: none;
                width: 60vw;
                max-width: 700px;
            }
            fieldset{
                margin: 1rem 0;
            }
            input{
                width: 60vw;
                max-width: 700px;
                &:active{
                    color: $colorBase;
                }
            }
            button{
                width: 20vw;
                transition: 0.3s;
                max-width: 700px;
                &:hover{
                    background-color: black;
                    color: white;
                }
            }
            .checkbox{
                width: 2rem;
                
            }
           
            
        }
    }
    .mapaContacto{
        background-color: antiquewhite;
        padding: 2rem;
        iframe{
            border-top: 2px solid gray;
            border-bottom: 2px solid gray;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.5);
            box-shadow:  7px 7px 2px #999999;
            width: 80vw;
            height: 50rem;
        }
    }
}

