main{
    grid-area: main;
    background-image: url(../img/ep_naturalwhite.png);
    font-family: 'Poppins', sans-serif;
}

.catalogo{
    display: flex;
    justify-content: center;
    
    
}
h2{
    font-size: 3.3rem;
    font-weight: 500;
}
.catalogoInicio{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0 2rem;
    margin-bottom: 1rem;
}

.catalogoInicio img{
    width: 52rem;
    height: 72rem;
    border-radius: 10px;
    box-shadow:  7px 7px 2px #999999;
    
}

.catalogoUl{
    display: flex;
    font-size: 3.5rem;
    gap: 6rem;
    list-style: none;
    border-bottom: 1px solid gray;
}

.catalogoUl ul{
    list-style: none;
}

.catalogoTitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 1.5rem 0;
    gap: 1rem;
    width: max-content;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}
.catalogoInicioLibros{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
.catalogoLibros{
    display: flex;
    justify-content: center;
    margin: 5rem 0;
    width: 120rem;
    height: 70rem;
    background-color: rgba(255, 255, 255, 0.699);
    border: 3px solid rgb(75, 75, 75);
}

.catalogoDescripcionLibros{
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    border-radius: 10px;
    min-width: max-content;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow:  7px 7px 2px #999999;
    text-align: center;
    font-size: 3.5rem;;            
}

.recomendaciones{
    display: flex;
    flex-direction: column;
    width: min-content;
    font-size: 2.5rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid gray;
    
}

.recomendacionesDescripcion{
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    border-radius: 10px;
    min-width: max-content;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow:  7px 7px 2px #999999;
    text-align: center;
}
.recomendacionesResumen{
    font-size: 2rem;
    margin-top: 1rem;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow:  7px 7px 2px #999999;
}

.oferta{
    font-weight: bold;
}