main{
    grid-area: main;
    background-image: url(../img/ep_naturalwhite.png);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .catalogo{
        display: flex;
        justify-content: center;

        .catalogoTitulo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 3rem 0 1.5rem 0;
            gap: 1rem;
            width: max-content;
            border-top: 5px solid black;
            border-bottom: 5px solid black;

            h2{
                font-size: 3.3rem;
                font-weight: 500;
            }
        }
        
        .catalogoUl{
            display: flex;
            font-size: 3.5rem;
            gap: 6rem;
            list-style: none;
            border-bottom: 1px solid gray;
        }
        
        .catalogoUl ul{
            list-style: none;
        }
    }

    .catalogoInicio{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 0 2rem;
        margin-bottom: 1rem;

        .catalogoInicioLibros{
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid gray;
            padding-bottom: 1rem;
            margin-bottom: 2rem;

            .catalogoDescripcionLibros{
                border-top: 2px solid gray;
                border-bottom: 2px solid gray;
                border-radius: 10px;
                min-width: max-content;
                background-color: rgba(255, 255, 255, 0.5);
                box-shadow:  7px 7px 2px #999999;
                text-align: center;
                font-size: 3rem;            
            }
            .catalogoIC{
                display: flex;
                align-items: flex-end;
                justify-content: center;
                

            
                .agregarCarrito{
                    position: absolute;
                    

                    .agregarCarritoImg{
                        width: 100%;
                        height: 100%;
                        box-shadow:  0px 0px 0px #999999;
                        opacity: 0;
                        transition: 0.3s;

                        
                    } 
                }
                &:hover{
                    .agregarCarritoImg{
                        transform: scale(2.5) translateY(-3rem);
                        background-color: rgba(250, 235, 215, 0.685);
                        opacity: 1;
                    }
                }
            }   
        }
        .recomendaciones{
            display: flex;
            flex-direction: column;
            width: min-content;
            font-size: 2.5rem;
            padding-bottom: 1rem;
            margin-bottom: 2rem;
            border-bottom: 1px solid gray;

            .recomendacionesDescripcion{
                border-top: 2px solid gray;
                border-bottom: 2px solid gray;
                border-radius: 10px;
                min-width: max-content;
                background-color: rgba(255, 255, 255, 0.5);
                box-shadow:  7px 7px 2px #999999;
                text-align: center;
            }
            .recomendacionesResumen{
                font-size: 2rem;
                margin-top: 1rem;
                border: 2px solid gray;
                border-radius: 10px;
                background-color: rgba(255, 255, 255, 0.5);
                box-shadow:  7px 7px 2px #999999;
            }
            .catalogoIC{
                display: flex;
                align-items: flex-end;
                justify-content: center;
                

            
                .agregarCarrito{
                    position: absolute;
                    

                    .agregarCarritoImg{
                        width: 100%;
                        height: 100%;
                        box-shadow:  0px 0px 0px #999999;
                        opacity: 0;
                        transition: 0.3s;

                        
                    } 
                }
                &:hover{
                    .agregarCarritoImg{
                        transform: scale(2.5) translateY(-3rem);
                        background-color: rgba(250, 235, 215, 0.685);
                        opacity: 1;
                    }
                }
            }   
        }
    }
        
    }
    .catalogoInicio img{
        width: 52rem;
        height: 72rem;
        border-radius: 10px;
        box-shadow:  7px 7px 2px #999999;
        
    }
    .oferta{
        font-weight: bold;
    }
    .relleno{
        padding: 25vh;
    }












    

    











