main{
    .novedades{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0 2rem 0;
        padding-bottom: 1rem;
        border-bottom: 1px solid #999999;
        transition: 0.5s;
            &:hover{
                transform: scale(1.01);
            }
        
        
        .novedadesImg{
            box-shadow:  7px 7px 2px #999999;
            border-radius: 5px;
            img{
                width: 80vw;
                border-radius: 5px;
                max-width: 500px
                
            }
        }
        .novedadesContenedorTexto{
            @extend %descripcion;
            width: 80vw;
            max-width: 500px;
            padding: 1rem;

            h3{
                @include fontSizeWeight (4.5vw, 600);
                
            }
            h4{
                @include fontSizeWeight (4vw, 400);
                
            }
            button{
                font-size: 1.5em;
            }
            .novedadesTexto{
                font-size: 1.5em;
                padding-top: 0.5rem;
            }
        }
        
    }
}