main{
    grid-area: main;
    background-image: url(../img/ep_naturalwhite.png);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .catalogo{
        display: flex;
        justify-content: center;

        .catalogoTitulo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 3rem 0 1.5rem 0;
            gap: 1rem;
            width: max-content;
            border-top: 5px solid black;
            border-bottom: 5px solid black;

            h2{
                @include fontSizeWeight (5vw, 500); 
            }
        }
        
        .catalogoUl{
            display: flex;
            gap: 6rem;
            list-style: none;
            border-bottom: 1px solid gray;
            
            h5{
                @include fontSizeWeight (5vw, 500); 
            }
            a{
                text-decoration: none;
                color: black;
                
                
            }
            li{
                transition: 0.3s;
                margin: 1rem 0;
                border-radius: 5px;
                border: 3px solid rgba(255, 255, 255, 0.801);
                &:hover{
                    transform: scale(1.4);
                    border-top: 2px solid gray;
                    border-bottom: 2px solid gray;
                    background-color: $colorBase;
                }
            }
            ul{
                list-style: none;
            }
            
        }
        
    }

    .catalogoInicio{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 0 2rem;
        margin-bottom: 1rem;

        .catalogoInicioLibros{
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid gray;
            padding-bottom: 1rem;
            margin-bottom: 2rem;
            &:hover{
                .catalogoDescripcionLibros{
                    background-color: $colorBase;
                }
            }

            .catalogoDescripcionLibros{
                transition: 0.3s;
                width: 80vw;
                max-width: 500px;
                @extend %descripcion;
                h5{
                    @include fontSizeWeight (5vw, 400); 
                }        
            }
            .catalogoIC{
                display: flex;
                align-items: flex-end;
                justify-content: center;

                .agregarCarrito{
                    position: absolute;
                    

                    .agregarCarritoImg{
                        width: 100%;
                        height: 100%;
                        box-shadow:  0px 0px 0px #999999;
                        opacity: 0;
                        transition: 0.3s; 
                    } 
                }
                &:hover{
                    .agregarCarritoImg{
                        transform: scale(2.5) translateY(-3rem);
                        background-color: rgba(250, 235, 215, 0.856);
                        border-radius: 50px;
                        opacity: 1;
                    }
                }
            }   
        }
        .recomendaciones{
            display: flex;
            flex-direction: column;
            width: min-content;
            padding-bottom: 1rem;
            margin-bottom: 2rem;
            border-bottom: 1px solid gray;
            &:hover{
                .recomendacionesDescripcion{
                    background-color: $colorBase;
                }
                .recomendacionesResumen{
                    background-color: $colorBase;
                }
            }

            .recomendacionesDescripcion{
                transition: 0.3s;
                @extend %descripcion;
                max-width: 500px;
                h5{
                    @include fontSizeWeight (5vw, 400);  
                   
                }
            }
            .recomendacionesResumen{
                transition: 0.3s;  
                h5{
                    @include fontSizeWeight (5vw, 400);
                    padding: 0.5rem;  
                }    
                margin-top: 1rem;
                border: 2px solid gray;
                border-radius: 10px;
                background-color: rgba(255, 255, 255, 0.5);
                box-shadow:  7px 7px 2px #999999;
                max-width: 500px;
            } 
        }
    }
        
    }
    .catalogoInicio img{
        width: 80vw;
        height: 60vh;
        max-width: 500px;
        border-radius: 10px;
        box-shadow:  7px 7px 2px #999999;
        
    }
    .oferta{
        h5{
            @include fontSizeWeight (2.7rem, bold); 
        }
             
    }
    .relleno{
        padding: 25vh;
    }












    

    











