
@media (min-width: 768px){
    header{
        
        .containerHeaderLN{
            
            .containerHeaderLH1{
                
                h1{
                    font-size: 6rem;
                }
   
            }
            .containerHeader{
                
    
                .barraNavegacion{
                    font-size: 3.5rem;
                    gap: 2.5rem;
                }    
            }   
        }
        .containerBarra{
            
    
            .barraBusqueda{
            
                font-size: 2rem;
                
            }
            .btn{
                
                font-size: 2rem;
            } 
        }      
    }
    main{
        
    
        .catalogo{
            
    
            .catalogoTitulo {
                
                h2{
                    @include fontSizeWeight (4rem, 500);  
                }
            }
            
            .catalogoUl{
                flex-direction: row;
                gap: 3rem;
                h5{
                    @include fontSizeWeight (4rem, 500); 
                }
                li{
                    width: 32rem;
                }
            }
            
        }
    
        .catalogoInicio{
            img{
                width: 36rem;
                height: 56rem;
            }
            flex-direction: row;
    
            .catalogoInicioLibros{
                
                
    
                .catalogoDescripcionLibros{

                    width: 36rem;
                    
                    h5{
                       font-size: 2.5em; 
                    }        
                }
                  
            }
        }    
        .catalogoInicioRecomendaciones{

          
            .recomendaciones{
                img{
                    width: 40rem
                }
                
    
                .recomendacionesDescripcion{
                    width: 40rem;
                    h5{
                        @include fontSizeWeight (3rem, 500);  
                       
                    }
                }
                .recomendacionesResumen{
                    width: 40rem;
                    h5{
                        @include fontSizeWeight (2.5rem, 400);
                    }    
                    
                } 
            }
        }
        .comboGrid{
            
            width: 62rem;
            height: 10rem;
        
            .comboGridTexto{
                font-size: 3em;
            }
            .comboOrdenar{
                font-size: 3em;
                
            }
        }
        .gridLibros{
            
    
            .l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9{
                
                .nombreLibroGrid{
                    width: 36rem;
                }   
                .precioLibroGrid{
                    width: 36rem;
                }             
            }
        }
        .paginaLibros{
            
            width: 62rem;
            height: 10rem;
            font-size: 3em;
        }
    
    }
      
    .pie{
        flex-direction: row;
    
        
        img{
            width: 4rem;
            
        }
        .pieDescripcion{
            width: 35rem;
            p{
                text-align: center;
                font-size: 2rem;
            }
            
        }
        .pieUbicacion{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: 2rem;
            margin: 2.5rem 0;
            img{
                width: 2rem;
            }
        }
        .pieSubtitulo h3{
            text-align: center;
            font-size: 4rem;
        }
    }
    
}    
@media (min-width:1024px){
    main{
            
        .catalogoInicioRecomendaciones{
            flex-direction: row;
          
            
        }
        .gridLibros{
            grid-template-columns: 25vw 25vw; 
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
            gap: 16rem;
            grid-template-areas: 
            "l1 l2"
            "l3 l4"
            "l5 l6"
            "l7 l8"
            "l9 ..";
    
            .l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9{
                
                .nombreLibroGrid{
                    width: 36rem;
                }   
                .precioLibroGrid{
                    width: 36rem;
                }             
            }
        }
        .novedades{
            display: flex;
            flex-direction: row;
            margin: 1rem 1rem 2rem 1rem;
             
            .novedadesImg{
                margin-right: 2rem;
                img{
                    width: 30rem;
                    height: 45rem;
                    
                }
            }
            .novedadesContenedorTexto{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 65vw;
                height: 45rem;
                max-width: 1175px;
    
                h3{
                    @include fontSizeWeight(3em, 600); 
                    
                }
                h4{
                    @include fontSizeWeight(2.5em, 400);  
                
                }
                
                
                .novedadesTexto{
                    margin-top: 3rem;
                }
                
            }
            
        }
    }

}  

@media (min-width:1200px){
    main{
        .catalogoInicio{
            display: flex;
            flex-direction: row;
            
        }

        .catalogoInicio img{
            width: 36rem;
            height: 56rem;
            
        }
        
        .gridLibros{
            grid-template-columns: 25vw 25vw 25vw; 
            grid-template-rows: 1fr 1fr 1fr; 
            gap: 8rem;
            grid-template-areas: 
            "l1 l2 l3"
            "l4 l5 l6"
            "l7 l8 l9";
        

            
            .l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9{
                display: flex;
                flex-direction: column;
                align-items: center;


                            
            }
        }
        .novedades{
            &:hover{
                transform: scale(1.05);
            }
            .novedadesContenedorTexto{
                
                .novedadesTexto{
                    font-size: 1.6em;
                    margin-top: 5rem;
                } 
            }  
        }    
    }  
}




@media (min-width:1600px){

    main{
        
        .gridLibros{
           
            
            .l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9{

                .nombreLibroGrid{
                    width: 42rem;
                }
                .precioLibroGrid{
                    width: 42rem;
                }
                .gridLibrosImg{
                    width: 42rem;
                    height: 62rem;
                }
            }
        }
        .novedades{
            display: flex;
            flex-direction: row;
            margin: 1rem 1rem 2rem 1rem;
             
            .novedadesImg{
                margin-right: 2rem;
                img{
                    width: 30rem;
                    height: 45rem;
                    
                }
            }
            .novedadesContenedorTexto{
                
               
                
                .novedadesTexto{
                    margin-top: 0;
                    font-size: 2em;
                }
                .btn{
                    font-size: 2em;
                    width: 20rem;
                    height: 5rem;
                }
            }
            
        }  
    }
}
