
@media (min-width: 768px){
    
    main{
        .catalogoInicio{
            display: flex;
            flex-direction: row;
            
        }

        .catalogoInicio img{
            width: 36rem;
            height: 56rem;
            
        }
        .catalogoDescripcionLibros{
            
            font-size: 2.5rem;         
        }
        .gridLibros{
            grid-template-columns: 25vw 25vw; 
            grid-template-rows: 1fr 1fr 1fr 1fr; 
            gap: 18rem;
            grid-template-areas: 
            "l1 l2"
            "l3 l4"
            "l5 l6"
            "l7 l8"
            "l9 .."; 

            
            .l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9{
                display: flex;
                flex-direction: column;
                align-items: center;


                .nombreLibroGrid{
                    width: 36rem;
                }

                &:hover{
                    .precioLibroGrid{

                        opacity: 1;
                        background: linear-gradient(180deg, rgba(255,228,196,0.6474964985994398) 0%, rgba(255,228,196,0.8743872549019608) 100%);
                    }
                }
                
            }
        }  
    }
    header{
        .containerBusqueda{
            width: 50%;
        }
        
        h1{
            font-size: 5rem;
        }
    
    }
    .pie{
        flex-direction: row;
        
        

        .pieSubtitulo h3{
            font-size: 3rem;
        }
        .pieImg{
            display: flex;
            flex-wrap: nowrap;
        }
        .pieImg img{
            
            width: 3rem;
        }
        .pieUbicacion{
            text-align: center;
        }
        .pieUbicacion a{
            font-size: 1.5rem;
        }
        .pieUbicacion img{
            width: 1.8rem;
        }
    }
}
@media (min-width:1024px){
    .containerContacto{
        
        .contacto{
            
            width: 55rem;
            @include fontSizeWeight (2rem, 200); 
            h3{
                @include fontSizeWeight (4rem, 500); 
            }
            textarea{
                width: 30rem;
            }
            
            input{
                width: 60vw;
               
            }
            button{
                width: 20vw;
            }
            .checkbox{
                width: 2rem;
            }
           
            
        }
    }

}  

@media (min-width:1200px){
    main{
        .catalogoInicio{
            display: flex;
            flex-direction: row;
            
        }

        .catalogoInicio img{
            width: 36rem;
            height: 56rem;
            
        }
        .catalogoDescripcionLibros{
            
            font-size: 2.5rem;;            
        }
        .gridLibros{
            grid-template-columns: 25vw 25vw 25vw; 
            grid-template-rows: 1fr 1fr 1fr; 
            gap: 8rem;
            grid-template-areas: 
            "l1 l2 l3"
            "l4 l5 l6"
            "l7 l8 l9";
        

            
            .l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9{
                display: flex;
                flex-direction: column;
                align-items: center;


                .nombreLibroGrid{
                    width: 36rem;
                }                
            }
        }    
    }  
}




@media (min-width:1600px){

    main{
        
        .gridLibros{
           
            
            .l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9{

                .nombreLibroGrid{
                    width: 42rem;
                }
                .precioLibroGrid{
                    width: 42rem;
                }
                .gridLibrosImg{
                    width: 42rem;
                    height: 62rem;
                }
            }
        }  
    }
}

        







