.barraNavegacion li:hover {
    transform: scale(1.2);
    background-color: #6161611e;
    transition: 0.2s;

}
.containerCA img:hover{
    transform: scale(1.5);
    transition: 0.2s;
}
.gridLibros p:hover{
    transform: translateY(-8rem);
    opacity: 1;
    background-color: rgba(240, 248, 255, 0.719);
    transition: 0.3s;
}