@import "generales";
@import "header";
@import "main";
@import "footer";
@import "pseudoclass";
@import "mediaqueris";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Yanone+Kaffeesatz&display=swap');



